@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background: #f8f8f8;
    font-family: 'Poppins', sans-serif;
      
}

input {
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    outline: none;
}

input:focus {
    border-bottom: 1px solid #000;
}